fieldset {
    height: 100%;
    padding: 30px 20px;
}

legend {
    font-weight: bold;
}

.AddBlock {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.col-50 {
    width: 50%;
}