.AddButton {
    margin: 20px;
    border: 1px solid #cccccc;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.AddButton span {
    display: block;
    margin: 10px 0;
}

.AddButton::after {
     clear: both;
 }

.type_image {
    width: 50px;
    height: auto;
    float: left;
    margin: 10px 20px 10px 10px;
}

.dishTitle {
    font-size: 20px;
}