.OrderItem {
    display: flex;
    justify-content: space-between;
    height: 30px;
}

.OrderItem span {
    align-self: center;
}

.OrderItem span:first-child {
    width: 40%;
}

.OrderItem span:nth-child(2) {
    width: 10%;
}

.OrderItem span:nth-child(3) {
    width: 20%;
}

.OrderItem span:nth-child(4) {
    font-family: Arial, sans-serif;
    text-align: end;
    color: red;
    width: 10%;
    line-height: 20px;
    font-weight: bold;
    cursor: pointer;
}