.container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    padding: 50px 20px;
    margin: 0 auto;
}

.col:first-child {
    width: 35%;
    padding: 0 15px;
}

.col:last-child {
    width: 65%;
    padding: 0 15px;
}